<% layout('layouts/boilerplate') %>

    <div class="row">
        <div class="text-center">
            <h1>New Campground</h1>
            <div class="col-md-6 offset-md-3">
                <div class="card-shadow">
                    <div class="card-body">
                <form action="/campgrounds" method="POST" novalidate class="validated-form"
                    enctype="multipart/form-data">
                    <div class="mb-3">
                        <label class="form-label" for="title">Camp Name</label><input class="form-control" type="text"
                            id="title" name="campground[title]" required>
                        <div class="valid-feedback">Looks Good</div>
                    </div>

                    <div class="mb-3"> <label class="form-label" for="location">Camp Location</label><input
                            class="form-control" type="text" id="location" name="campground[location]" required>
                        <div class="valid-feedback text-right">Looks Good</div>
                    </div>

                    <div class="mb-3">
                        <label for="image" class="form-label">Upload Image(s)</label>
                        <input class="form-control" type="file" id="image" , name="image" multiple>
                    </div>

                    <!-- <input type="file" name="image" id="" multiple> -->
                    <!-- <div class="mb-3"> <label class="form-label" for="image">Image URL</label>
                        <input class="form-control" type="text" id="image" name="campground[image]" required>
                        <div class="valid-feedback">Looks Good</div>
                    </div> -->

                    <div class="mb-3">
                        <div class="mb-3"> <label class="form-label" for="price">Campground Price</label>
                            <div class="input-group ">
                                <span class="input-group-text" id="price-label">£</span>
                                <input type="text" class="form-control" placeholder="0.00" id="price" aria-label="price"
                                    aria-describedby="price-label" name="campground[price]" required>
                                <div class="valid-feedback">Looks Good</div>
                            </div>
                        </div>

                        <div class="mb-3"> <label class="form-label" for="image">Description</label><textarea
                                class="form-control" type="text" id="description" name="campground[description]"
                                required></textarea>
                            <div class="valid-feedback">Looks Good</div>
                        </div>
                        <div class="mb-3">
                            <button class="btn btn-success">Add Campground</button>
                        </div>

                        <a href="/campgrounds">cancel</a>
                </form>
            </div>
        </div>
    </div>
    </div>
    </div>